n8n-workflow.json
{
  "name": "AI Design Optimizer",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 24
            }
          ]
        }
      },
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "stats",
        "returnAll": false,
        "limit": 1,
        "filterType": "string",
        "filterString": "=date=eq.{{ $today.minus({days: 1}).toFormat('yyyy-MM-dd') }}"
      },
      "name": "Get Yesterday Stats",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [450, 300],
      "credentials": {
        "supabaseApi": {
          "id": "1",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 어제 통계 가져오기\nconst stats = $input.first().json;\n\n// CTR 계산\nconst visits = stats.visits || 0;\nconst clicks = stats.clicks || 0;\nconst ctr = visits > 0 ? (clicks / visits * 100) : 0;\n\n// 임계값 설정 (5%)\nconst threshold = 5;\nconst needsImprovement = ctr < threshold;\n\n// 결과 반환\nreturn {\n  json: {\n    date: stats.date,\n    visits,\n    clicks,\n    ctr: ctr.toFixed(2),\n    threshold,\n    needsImprovement,\n    stats\n  }\n};"
      },
      "name": "Calculate CTR",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.needsImprovement }}",
              "value2": true
            }
          ]
        }
      },
      "name": "IF CTR Low",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.github.com/repos/YOUR_USERNAME/YOUR_REPO/contents/src/components/EventPage.jsx",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "options": {}
      },
      "name": "Read Code from GitHub",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1050, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "3",
          "name": "GitHub Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// GitHub API는 파일 내용을 Base64로 반환\nconst response = $input.first().json;\nconst content = Buffer.from(response.content, 'base64').toString('utf-8');\nconst sha = response.sha; // 업데이트 시 필요\nconst ctr = $('IF CTR Low').item.json.ctr;\n\n// Gemini API용 프롬프트 생성\nconst prompt = `당신은 UX/UI 전문가입니다. 다음 React 이벤트 페이지의 전환율(CTR)이 ${ctr}%로 낮습니다.\n\n[현재 코드]\n${content}\n\n[요구사항]\n- CTR을 높이기 위해 디자인을 개선한 완전히 새로운 React 컴포넌트 코드를 작성하세요\n- 버튼 색상, 크기, 문구, 위치, 레이아웃을 창의적으로 변경하세요\n- 기존 useStats 훅과 Supabase 연동 로직은 반드시 유지하세요\n- import 문과 export 문을 포함한 완전한 JSX 파일 형태로 작성하세요\n- 코드만 출력하고 설명은 제외하세요\n- 마크다운 코드 블록은 사용하지 마세요`;\n\n// Gemini API request body\nconst geminiRequestBody = {\n  contents: [\n    {\n      parts: [\n        {\n          text: prompt\n        }\n      ]\n    }\n  ],\n  generationConfig: {\n    maxOutputTokens: 4096\n  }\n};\n\nreturn {\n  json: {\n    data: content,\n    sha: sha,\n    path: response.path,\n    geminiRequestBody: geminiRequestBody\n  }\n};"
      },
      "name": "Decode Base64",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent?key=YOUR_GEMINI_API_KEY",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.geminiRequestBody }}",
        "options": {}
      },
      "name": "Call Gemini API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1450, 200]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\n\n// Gemini 응답에서 코드 추출\nlet newCode = response.candidates[0].content.parts[0].text;\n\n// 마크다운 코드 블록 제거 (혹시 포함되어 있을 경우)\nnewCode = newCode.replace(/```jsx?\\n?/g, '').replace(/```\\n?$/g, '').trim();\n\n// Base64로 인코딩 (GitHub API 업로드용)\nconst encodedCode = Buffer.from(newCode).toString('base64');\n\nreturn {\n  json: {\n    newCode,\n    encodedCode,\n    ctr: $('IF CTR Low').item.json.ctr,\n    date: $('IF CTR Low').item.json.date,\n    sha: $('Decode Base64').item.json.sha\n  }\n};"
      },
      "name": "Extract Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1650, 200]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "https://api.github.com/repos/YOUR_USERNAME/YOUR_REPO/contents/src/components/EventPage.jsx",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": \"chore: AI-generated design update (CTR: {{ $('Extract Code').item.json.ctr }}%)\",\n  \"content\": \"{{ $('Extract Code').item.json.encodedCode }}\",\n  \"sha\": \"{{ $('Extract Code').item.json.sha }}\"\n}",
        "options": {}
      },
      "name": "Update Code on GitHub",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1850, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "3",
          "name": "GitHub Token"
        }
      }
    },
    {
      "parameters": {
        "amount": 60
      },
      "name": "Wait for Deploy",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [2050, 200]
    },
    {
      "parameters": {
        "jsCode": "// Google PageSpeed API로 스크린샷 촬영 (무료!)\nconst siteUrl = 'YOUR_VERCEL_SITE_URL'; // 예: https://your-app.vercel.app\n\nconst apiUrl = `https://www.googleapis.com/pagespeedonline/v5/runPagespeed?url=${encodeURIComponent(siteUrl)}&screenshot=true&category=performance`;\n\ntry {\n  const response = await fetch(apiUrl);\n  const data = await response.json();\n  \n  // Base64 스크린샷 추출 (data:image/jpeg;base64,... 형태)\n  const screenshotData = data.lighthouseResult.audits['final-screenshot'].details.data;\n  \n  // data:image/jpeg;base64, 부분 제거\n  const base64Image = screenshotData.replace(/^data:image\\/\\w+;base64,/, '');\n  \n  const filename = `screenshot_${Date.now()}.jpg`;\n  \n  return {\n    json: {\n      base64Image,\n      filename,\n      commitSha: $('Update Code on GitHub').item.json.commit.sha,\n      ctr: $('Extract Code').item.json.ctr,\n      newCode: $('Extract Code').item.json.newCode\n    }\n  };\n} catch (error) {\n  // 스크린샷 실패해도 계속 진행 (screenshot_url만 null)\n  return {\n    json: {\n      base64Image: null,\n      filename: null,\n      commitSha: $('Update Code on GitHub').item.json.commit.sha,\n      ctr: $('Extract Code').item.json.ctr,\n      newCode: $('Extract Code').item.json.newCode,\n      error: error.message\n    }\n  };\n}"
      },
      "name": "Take Screenshot",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2250, 200]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\n// 스크린샷이 없으면 업로드 스킵\nif (!input.base64Image) {\n  return {\n    json: {\n      publicUrl: null,\n      commitSha: input.commitSha,\n      ctr: input.ctr,\n      newCode: input.newCode\n    }\n  };\n}\n\n// Supabase 설정\nconst supabaseUrl = 'YOUR_SUPABASE_URL'; // 예: https://abcdefgh.supabase.co\nconst supabaseKey = 'YOUR_SUPABASE_SERVICE_ROLE_KEY'; // service_role 키 사용!\nconst bucketName = 'screenshots';\nconst filename = input.filename;\n\n// Base64 → Buffer\nconst imageBuffer = Buffer.from(input.base64Image, 'base64');\n\ntry {\n  // Supabase Storage에 업로드\n  const response = await fetch(\n    `${supabaseUrl}/storage/v1/object/${bucketName}/${filename}`,\n    {\n      method: 'POST',\n      headers: {\n        'Authorization': `Bearer ${supabaseKey}`,\n        'Content-Type': 'image/jpeg',\n        'x-upsert': 'true'\n      },\n      body: imageBuffer\n    }\n  );\n  \n  const result = await response.json();\n  \n  // 공개 URL 생성\n  const publicUrl = `${supabaseUrl}/storage/v1/object/public/${bucketName}/${filename}`;\n  \n  return {\n    json: {\n      publicUrl,\n      uploadResult: result,\n      commitSha: input.commitSha,\n      ctr: input.ctr,\n      newCode: input.newCode\n    }\n  };\n} catch (error) {\n  return {\n    json: {\n      publicUrl: null,\n      error: error.message,\n      commitSha: input.commitSha,\n      ctr: input.ctr,\n      newCode: input.newCode\n    }\n  };\n}"
      },
      "name": "Upload to Supabase Storage",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2450, 200]
    },
    {
      "parameters": {
        "operation": "insert",
        "tableId": "code_history",
        "dataMode": "defineBelow",
        "columnsUi": {
          "columnValues": [
            {
              "column": "version",
              "value": "={{ $now.toUnixInteger() }}"
            },
            {
              "column": "code_content",
              "value": "={{ $json.newCode }}"
            },
            {
              "column": "design_description",
              "value": "=AI-generated improvement for CTR {{ $json.ctr }}%"
            },
            {
              "column": "avg_ctr",
              "value": "={{ parseFloat($json.ctr) }}"
            },
            {
              "column": "git_commit_hash",
              "value": "={{ $json.commitSha }}"
            },
            {
              "column": "screenshot_url",
              "value": "={{ $json.publicUrl }}"
            }
          ]
        }
      },
      "name": "Save History",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [2650, 200],
      "credentials": {
        "supabaseApi": {
          "id": "1",
          "name": "Supabase account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Yesterday Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Yesterday Stats": {
      "main": [
        [
          {
            "node": "Calculate CTR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate CTR": {
      "main": [
        [
          {
            "node": "IF CTR Low",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF CTR Low": {
      "main": [
        [
          {
            "node": "Read Code from GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Code from GitHub": {
      "main": [
        [
          {
            "node": "Decode Base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decode Base64": {
      "main": [
        [
          {
            "node": "Call Gemini API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Gemini API": {
      "main": [
        [
          {
            "node": "Extract Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Code": {
      "main": [
        [
          {
            "node": "Update Code on GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Code on GitHub": {
      "main": [
        [
          {
            "node": "Wait for Deploy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Deploy": {
      "main": [
        [
          {
            "node": "Take Screenshot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Take Screenshot": {
      "main": [
        [
          {
            "node": "Upload to Supabase Storage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Supabase Storage": {
      "main": [
        [
          {
            "node": "Save History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "tags": [],
  "pinData": {},
  "versionId": "3"
}
